<nav class="main-header navbar navbar-expand navbar-dark navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a></li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <!-- LOGIN -->
    <li class="nav-item dropdown">
      <a class="nav-link nav-icon" data-toggle="dropdown" (click) = "logOut()">
        <span class="badge badge-btn badge-warning navbar-badge">{{ user.first_name }} / {{ user.username }}</span>
        <span class="badge badge-btn badge-warning navbar-badge"><i class="far fa-user"></i></span>
      </a>
    </li>
    <!-- REGISTER -->
    <!--<li class="nav-item dropdown">
      <a class="nav-link nav-icon" href="#">
        <span class="badge badge-btn badge-warning navbar-badge">REGISTRARSE .</span>
        <span class="badge badge-btn badge-warning navbar-badge"><i class="far fa-user"></i></span>
      </a>
    </li>-->
    <!-------------->
  </ul>
</nav>
<div *ngIf="!user">
  <p>No se detecta el usuario</p>
</div>
