<div class="hold-transition login-page">
<div class="login-box">
<!--=====================================-->
<!--=====================================-->
<div class="login-logo"><a href="#"><b>PAD</b></a></div>
<!--=====================================-->
<!--=====================================-->
<div class="card">
<div class="card-body login-card-body">
  <p class="login-box-msg">Sign in to start your session</p>

  <form action="#" method="post">
    <div class="input-group mb-3">
      <input [(ngModel)]="usuario.username" type="email" class="form-control" placeholder="Correo Electronico"
         name="username" autofocus required>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <input [(ngModel)]="usuario.password" type="password" class="form-control" placeholder="Contraseña" name="password" required>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="icheck-primary">
          <input type="checkbox" id="remember">
          <label for="remember">
            Remember Me
          </label>
        </div>
      </div>
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block" (click)="login()">Sign In</button>
      </div>
      <!-- /.col -->
    </div>
  </form>

  <div class="social-auth-links text-center mb-3">
    <p>- OR -</p>
    <button class="btn btn-block btn-primary" (click)="loginWithFB()">
      <i class="fab fa-facebook mr-2" ></i> Sign in using Facebook
    </button>
    <button class="btn btn-block btn-danger" (click)="logginInGoogle()">
      <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
    </button>
    <!--<a href="#" class="btn btn-block btn-danger" (click)="signInWithGoogle()" >
      <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
    </a>-->
  </div>
  <!-- /.social-auth-links -->
  <p class="mb-1">
    <a href="forgot-password.html">I forgot my password</a>
  </p>
  <p class="mb-0">
    <a href="register.html" class="text-center">Register a new membership</a>
  </p>
</div>
<!-- /.login-card-body -->
</div>
<!--=====================================-->
<!--=====================================-->
</div>
</div>
