<div class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <ng-container>
    </ng-container>
    <div class="content-wrapper">
      <!--==========================-->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Muro</h1>
            </div>
            <!--<div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard v1</li>
              </ol>
            </div>-->
          </div>
        </div>
      </div>
      <!------------------------->
      <section class="content">
        <div class="container-fluid">
          <!--////////////////-->
          <div class="row">
            <!--row-->
            <div class="col-lg-3 col-6">
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>150</h3>
                  <p>New Orders</p>
                </div>
                <div class="icon"><i class="ion ion-bag"></i></div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!--row-->
          </div>
          <!--////////////////-->
        </div>
      </section>
      <!--==========================-->
    </div>
    <app-footer></app-footer>
  </div>
</div>
