<footer class="main-footer bg-dark">
  <strong>Copyright &copy; 20201 <a href="#">Project Titulacion</a>.</strong> Todos los derechos reservados.
  <div class="float-right d-none d-sm-inline-block"><b>Version</b> 1.0.0</div>
</footer>
