<div class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
<app-header></app-header>
<app-sidebar></app-sidebar>
<ng-container>
</ng-container>
<div class="content-wrapper">
<!--==========================-->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard Profesor</h1>
      </div>
      <!--<div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard v1</li>
        </ol>
      </div>-->
    </div>
  </div>
</div>
<!------------------------->
<section class="content">
  <div class="container-fluid">
    <!--////////////////-->
    <div class="row">
      <!--row-->
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>150</h3>
            <p>New Orders</p>
          </div>
          <div class="icon"><i class="ion ion-bag"></i></div>
          <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!--row-->
    </div>
    <div class="row">
      <!--row-->

      <div class="col-lg-12 col-12">


        <div class="card">
          <form class="form-horizontal">

            <div class="card-body">
              <div class="row col-lg-12 col-12">
                <div class="form-group col-lg-6 col-6">
                  <label for="inputIde" class="col-sm-3 col-form-label">Identificacion</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputIde" placeholder="Identificacion">
                  </div>
                </div>
                <div class="form-group col-lg-6 col-6">
                  <label for="inputNombres" class="col-sm-3 col-form-label">Nombres</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputNombres" placeholder="Nombres">
                  </div>
                </div>
              </div>
              <div class="row col-lg-12 col-12">
                <div class="form-group col-lg-6 col-6">
                  <label for="inputPaterno" class="col-sm-3 col-form-label">Apellido Paterno</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputPaterno" placeholder="Apellido Paterno">
                  </div>
                </div>
                <div class="form-group col-lg-6 col-6">
                  <label for="inputMaterno" class="col-sm-3 col-form-label">Apellido Materno</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputMaterno" placeholder="Apellido Materno">
                  </div>
                </div>
              </div>
              <div class="row col-lg-12 col-12">
                <div class="form-group col-lg-6 col-6">
                  <label for="inputFe" class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputFe" placeholder="Fecha de Nacimiento">
                  </div>
                </div>
                <div class="form-group col-lg-6 col-6">
                  <label for="inputS" class="col-sm-3 col-form-label">Sexo</label>
                  <div class="col-sm-12">
                    <select class="form-control" id="inputS">
                      <option value="M">Masculino</option>
                      <option value="F">Femenino</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row col-lg-12 col-12">
                <div class="form-group col-lg-6 col-6">
                  <label for="inputEst" class="col-sm-3 col-form-label">Estado Civil</label>
                  <div class="col-sm-12">
                    <select class="form-control" id="inputEst">
                      <option value="S">Soltero</option>
                      <option value="C">Casado</option>
                      <option value="V">Viudo</option>
                      <option value="D">Divorciado</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-lg-6 col-6">
                  <label for="inputDireccion" class="col-sm-3 col-form-label">Direccion</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputDireccion" placeholder="Direccion">
                  </div>
                </div>
              </div>
              <div class="row col-lg-12 col-12">
                <div class="form-group col-lg-6 col-6">
                  <label for="inputCelular" class="col-sm-3 col-form-label">Celular</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputCelular" placeholder="Celular">
                  </div>
                </div>
                <div class="form-group col-lg-6 col-6">
                  <label for="inputEmergencia" class="col-sm-3 col-form-label">Celular de Emergencia</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputEmergencia" placeholder="Celular de Emergencia">
                  </div>
                </div>
              </div>
              <div class="row col-lg-12 col-12">
                <div class="form-group col-lg-6 col-6">
                  <label for="inputTelefono" class="col-sm-3 col-form-label">Telefonoo</label>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" id="inputTelefono" placeholder="Telefono">
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-info">Sign in</button>
              <!--<button type="submit" class="btn btn-default float-right">Cancel</button>-->
            </div>
          </form>
        </div>



      </div>
      <!--row-->
    </div>
    <div class="row">
      <!--row-->
      <div class="col-lg-12 col-12">

        <table class="table table-responsive">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Sexo</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">Direccion</th>
            <th scope="col">Celular</th>
            <th scope="col">Celular de Emergencia</th>
            <th scope="col">Telefono</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let teacher of teacher">
            <th scope="row">{{teacher.id}}</th>
            <th scope="row">{{teacher.identification}}</th>
            <td>{{teacher.names}}</td>
            <td>{{teacher.first_name}}</td>
            <td>{{teacher.last_name}}</td>
            <td>{{teacher.fec_nac}}</td>
            <td>{{teacher.sexo}}</td>
            <td>{{teacher.civil_status}}</td>
            <td>{{teacher.direction}}</td>
            <td>{{teacher.cel}}</td>
            <td>{{teacher.cel_emergency}}</td>
            <td>{{teacher.tlf}}</td>
            <td><button type="button" class="btn btn-default float-right" (click)="delete(teacher)">Eliminar</button></td>
          </tr>
          </tbody>
        </table>

      </div>
      <!--row-->
    </div>
    <!--////////////////-->
  </div>
</section>
<!--==========================-->
</div>
<app-footer></app-footer>
</div>
</div>
