<aside *ngIf="user" class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">
    <img src="../../../../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">PAD</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <ng-container>
      <div class="image">
        <img src="{{ user.picture }}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">{{ user.first_name }}</a>
      </div>
      </ng-container>
      
      <!--<ng-container *ngIf="user.provider === 'CORREO' ">
        <div class="image">
          <img src="assets/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.first_name }}</a>
        </div>
      </ng-container>-->
    </div>

    <!-- TODO: Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!---||||||||||||||||||||||||||||||||--->
        <!--<li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active"><i class="nav-icon fas fa-tachometer-alt"></i><p>Dashboard<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-link active"><i class="far fa-circle nav-icon"></i><p>Dashboard v1</p></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Dashboard v2</p></a></li>
            <li class="nav-item"><a href="#" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Dashboard v3</p></a></li>
          </ul>
        </li>-->
        <!---||||||||||||||||||LABELS|||||--->
        <li class="nav-header">MENU</li>
        <li class="nav-item"><a href="/users" class="nav-link"><i class="nav-icon far fa-circle text-danger"></i><p class="text">users</p></a></li>
        <li class="nav-item"><a href="/muro"class="nav-link"><i class="nav-icon far fa-circle text-warning"></i><p>Muro</p></a></li>
        <li class="nav-item"><a href="/education" class="nav-link"><i class="nav-icon far fa-circle text-warning"></i><p>education</p></a></li>
        <li class="nav-item"><a href="/experiences" class="nav-link"><i class="nav-icon far fa-circle text-warning"></i><p>experiences</p></a></li>
        <li class="nav-item"><a href="/tools" class="nav-link"><i class="nav-icon far fa-circle text-warning"></i><p>tools</p></a></li>
        <li class="nav-item"><a href="/abilities" class="nav-link"><i class="nav-icon far fa-circle text-info"></i><p>abilities</p></a></li>
        <!---|||||||||||||||||||||||||||||--->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
<div *ngIf="!user">
  <p>No se detecta el usuario</p>
</div>
